
<form action="/users" method="post">
  <label for='password'>
  Password:
  <input type="password" name="password">
  </label>
  <label for='password_confirmation'>
  Confirm Password:
  <input type="password" name="password_confirmation">
  </label>
  <label for='email'>
  Email:
  <input type="email" name="email" minlength="3" value="<%= @user.email %>">
	</label>
  <input type="submit" value="Signup">
</form>
