<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%=current_user.email %>
      <% end %>
      <% if flash[:password] %>
        <%="#{flash[:password]}"%>
      <% end %>
      <%= yield %>
  </body>
</html>
